@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    
    --atencion-medica-bg-categoria: hsl(0, 96%, 82%);
    --atencion-medica-letras-categoria: hsl(0, 21%, 32%);   
    /* --productos-bg-categoria: hsl(120, 100%, 84%); */
    --productos-bg-categoria: var(--green-200);
    /* --productos-letras-categoria: hsl(120, 25%, 27%); */
    --productos-letras-categoria: var(--pastel-green-800);  
    /* --estetica-bg-categoria: hsl(192, 100%, 86%); */
    --estetica-bg-categoria: var(--blue-200);
    /* --estetica-letras-categoria: hsl(193, 37%, 27%); */
    --estetica-letras-categoria: var(--pastel-blue-800);    
    --bg-oscuro: hsl(192, 100%, 10%); /* --blue-900 */  
    

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --grey-100: hsl(0, 0%, 90%);
    --grey-150: hsl(0, 0%, 85%);
    --grey-200: hsl(0, 0%, 80%);
    --grey-250: hsl(0, 0%, 75%);
    --grey-300: hsl(0, 0%, 70%);
    --grey-350: hsl(0, 0%, 65%);
    --grey-400: hsl(0, 0%, 60%);
    --grey-450: hsl(0, 0%, 55%);
    --grey-500: hsl(0, 0%, 50%);
    --grey-550: hsl(0, 0%, 45%);
    --grey-600: hsl(0, 0%, 40%);
    --grey-650: hsl(0, 0%, 35%);
    --grey-700: hsl(0, 0%, 30%);
    --grey-750: hsl(0, 0%, 25%);
    --grey-800: hsl(0, 0%, 20%);
    --grey-850: hsl(0, 0%, 15%);
    --grey-900: hsl(0, 0%, 10%); 
    --green-100: hsl(120, 100%, 90%);
    --green-150: hsl(120, 100%, 85%);
    --green-200: hsl(120, 100%, 80%);
    --green-250: hsl(120, 100%, 75%);
    --green-300: hsl(120, 100%, 70%);
    --green-350: hsl(120, 100%, 65%);
    --green-400: hsl(120, 100%, 60%);
    --green-450: hsl(120, 100%, 55%);
    --green-500: hsl(120, 100%, 50%);
    --green-550: hsl(120, 100%, 45%);
    --green-600: hsl(120, 100%, 40%);
    --green-650: hsl(120, 100%, 35%);
    --green-700: hsl(120, 100%, 30%);
    --green-750: hsl(120, 100%, 25%);
    --green-800: hsl(120, 100%, 20%);
    --green-850: hsl(120, 100%, 15%);
    --green-900: hsl(120, 100%, 10%);   
    --pastel-green-100: hsl(120, 30%, 90%);
    --pastel-green-150: hsl(120, 30%, 85%);
    --pastel-green-200: hsl(120, 30%, 80%);
    --pastel-green-250: hsl(120, 30%, 75%);
    --pastel-green-300: hsl(120, 30%, 70%);
    --pastel-green-350: hsl(120, 30%, 65%);
    --pastel-green-400: hsl(120, 30%, 60%);
    --pastel-green-450: hsl(120, 30%, 55%);
    --pastel-green-500: hsl(120, 30%, 50%);
    --pastel-green-550: hsl(120, 30%, 45%);
    --pastel-green-600: hsl(120, 30%, 40%);
    --pastel-green-650: hsl(120, 30%, 35%);
    --pastel-green-700: hsl(120, 30%, 30%);
    --pastel-green-750: hsl(120, 30%, 25%);
    --pastel-green-800: hsl(120, 30%, 20%);
    --pastel-green-850: hsl(120, 30%, 15%);
    --pastel-green-900: hsl(120, 30%, 10%); 
    --blue-100: hsl(192, 100%, 90%);
    --blue-150: hsl(192, 100%, 85%);
    --blue-200: hsl(192, 100%, 80%);
    --blue-250: hsl(192, 100%, 75%);
    --blue-300: hsl(192, 100%, 70%);
    --blue-350: hsl(192, 100%, 65%);
    --blue-400: hsl(192, 100%, 60%);
    --blue-450: hsl(192, 100%, 55%);
    --blue-500: hsl(192, 100%, 50%);
    --blue-550: hsl(192, 100%, 45%);
    --blue-600: hsl(192, 100%, 40%);
    --blue-650: hsl(192, 100%, 35%);
    --blue-700: hsl(192, 100%, 30%);
    --blue-750: hsl(192, 100%, 25%);
    --blue-800: hsl(192, 100%, 20%);
    --blue-850: hsl(192, 100%, 15%);
    --blue-900: hsl(192, 100%, 10%);    
    --pastel-blue-100: hsl(192, 30%, 90%);
    --pastel-blue-150: hsl(192, 30%, 85%);
    --pastel-blue-200: hsl(192, 30%, 80%);
    --pastel-blue-250: hsl(192, 30%, 75%);
    --pastel-blue-300: hsl(192, 30%, 70%);
    --pastel-blue-350: hsl(192, 30%, 65%);
    --pastel-blue-400: hsl(192, 30%, 60%);
    --pastel-blue-450: hsl(192, 30%, 55%);
    --pastel-blue-500: hsl(192, 30%, 50%);
    --pastel-blue-550: hsl(192, 30%, 45%);
    --pastel-blue-600: hsl(192, 30%, 40%);
    --pastel-blue-650: hsl(192, 30%, 35%);
    --pastel-blue-700: hsl(192, 30%, 30%);
    --pastel-blue-750: hsl(192, 30%, 25%);
    --pastel-blue-800: hsl(192, 30%, 20%);
    --pastel-blue-850: hsl(192, 30%, 15%);
    --pastel-blue-900: hsl(192, 30%, 10%);  
    --red-100: hsl(0, 100%, 90%);
    --red-150: hsl(0, 100%, 85%);
    --red-200: hsl(0, 100%, 80%);
    --red-250: hsl(0, 100%, 75%);
    --red-300: hsl(0, 100%, 70%);
    --red-350: hsl(0, 100%, 65%);
    --red-400: hsl(0, 100%, 60%);
    --red-450: hsl(0, 100%, 55%);
    --red-500: hsl(0, 100%, 50%);
    --red-550: hsl(0, 100%, 45%);
    --red-600: hsl(0, 100%, 40%);
    --red-650: hsl(0, 100%, 35%);
    --red-700: hsl(0, 100%, 30%);
    --red-750: hsl(0, 100%, 25%);
    --red-800: hsl(0, 100%, 20%);
    --red-850: hsl(0, 100%, 15%);
    --red-900: hsl(0, 100%, 10%);   
    --pastel-red-100: hsl(0, 30%, 90%);
    --pastel-red-150: hsl(0, 30%, 85%);
    --pastel-red-200: hsl(0, 30%, 80%);
    --pastel-red-250: hsl(0, 30%, 75%);
    --pastel-red-300: hsl(0, 30%, 70%);
    --pastel-red-350: hsl(0, 30%, 65%);
    --pastel-red-400: hsl(0, 30%, 60%);
    --pastel-red-450: hsl(0, 30%, 55%);
    --pastel-red-500: hsl(0, 30%, 50%);
    --pastel-red-550: hsl(0, 30%, 45%);
    --pastel-red-600: hsl(0, 30%, 40%);
    --pastel-red-650: hsl(0, 30%, 35%);
    --pastel-red-700: hsl(0, 30%, 30%);
    --pastel-red-750: hsl(0, 30%, 25%);
    --pastel-red-800: hsl(0, 30%, 20%);
    --pastel-red-850: hsl(0, 30%, 15%);
    --pastel-red-900: hsl(0, 30%, 10%);
}

body {
    font-family: 'Rubik', sans-serif;
    background-image: url('../imgs/petsbg.png');
    background-repeat: repeat;
    overflow-x: hidden;
}

/* --------- ------ HEADER ------ --------- */

header {
    background: hsl(192, 30%, 25%);
    padding-top: 20px;
    margin: auto;
    width: 100%;
    height: 50px;
}

.header-nav-mobil {
    visibility: hidden;
}

.header__container {
    /* border: 1px solid white; */
    position: relative;
    height: 50px;
    margin: auto;
}

.header__nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 50px;
}

.header__nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.header__nav-desktop {
    display: flex;
    justify-content: space-evenly;
}

.abajo {
    background: hsl(192, 30%, 25%);
    width: 100%;
    height: 50px;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}

.invisible {
    position: absolute;
    visibility: hidden;
}

.visible {
    position: relative;
    visibility: visible;
}

#logo {
    width: 80%;
    height: 35px;
}

.header__logo {
    font-family: 'Josefin Sans', sans-serif;
}

.header__logo > a {
    display: flex;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.header__logo > a > h1 {
    color: white;
    font-size: 1.7rem;
}

.header__logo span {
    font-size: 1.2em;
    color: white;
}

.header__navegador-central {
    text-align: center;
    text-decoration: none;
}

.navegeador-lateral {
    text-align: right;
}

.header__nav-link {
    cursor: pointer;
    color: white;
    font-size: 1em;
    font-weight: 400;
    margin: 5px 20px;
    display: inline-block;
    /* Otra forma de colocar elemntos uno al lado del otro */
    opacity: 80%;
    text-decoration: none;
}

.header__nav-link > a {
    cursor: pointer;
    color: white;
    font-size: 1em;
    font-weight: 400;
    margin: 5px 20px;
    display: inline-block;
    /* Otra forma de colocar elemntos uno al lado del otro */
    opacity: 80%;
    text-decoration: none;
}

.header__nav-link a:hover {
    opacity: 100%;
}

.back-menu {
    display: none;
}

@media (max-width: 1300px) {
    .header__logo h1 {
        visibility: hidden;
        position: absolute;
     }

    .header__logo {
        display: inline;
        cursor: pointer;
    }    

    #logo {
        width: 50px;
        height: auto;
    }
}

@media (max-width: 1080px) {   

    /* ESCONDER EL HEADER DE ESCRITORIO */
    .header__nav-desktop {
        display: none;
    }
    
    /* GENERACIÓN DEL BOTÓN */
    .header__nav-mobile {
        width: 0px;
        margin-right: 0;
    }

    .bars__menu {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0%;
        left: 87%;
        opacity: 80%;
        cursor: pointer;
        transition: 0.275s;
    }
    
    .active-bars__menu {
        transition: 0.275s;
        opacity: 100%;
        color: white;
    }
    
    .bars-abajo {
        top: 0%;
    }

    .bars__menu span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: black;
        margin-top: 9px;
    }

    .line1__bars-menu {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    
    .line3__bars-menu {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    /* MENU DESPLEGABLE PARA MOBILES */
    .header-nav-mobil {
        visibility: visible;
        position: relative;
    }
    

    .header-nav-mobil__container {
        position: fixed;
        top: 0;
        right: -270px;
        background-color: hsl(192, 30%, 25%);
        width: 270px;
        height: 100vh;
        z-index: 2;
        padding: 40px;
    }
    
    .nav-mobile__logo {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .nav-mobile__main-options {
        margin-bottom: 30px;
    }
    
    .nav-mobile__main-options p {
        color: white;
    }
    
    .nav-mobile__secondary-options p {
        color: white;
    }

    #back-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        opacity: 0.5;
        z-index: 1;
        background-color: var(--grey-900);
        display: none;
    }
}

/* -------------------- ---------- EXPEDIENTES ---------- -------------------- */

.buscador__container {
    width: 50%;
    margin: 30px auto 0px auto;
}

.nuevo-expediente__container {
    width: 95%;
    margin: 20px auto 10px auto;
}

.nuevo-expediente__container a {
    text-decoration: none;
    background-color: white;
    color: hsl(120, 100%, 20%);
    outline: 1px solid hsl(120, 100%, 20%);
    border: none;
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all 0.2s ease;
}
.nuevo-expediente__container a:hover {
    text-decoration: none;
    background-color: hsl(120, 100%, 20%);
    color: hsl(120, 100%, 95%);
    outline: transparent;
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.lista__expedientes {
    width: 95%;
    margin: auto;
}

.lista__expedientes table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

.lista__expedientes thead {
    border-bottom: 7px solid hsl(211, 12%, 60%);
}

.lista__expedientes th {
    background-color: hsl(0, 30%, 25%);
    border-left: 1px solid #ddd;
    color: white;
    text-align: center;
    padding: 5px 0px;
}

.lista__expedientes td {
    font-size: 1rem;
    background-color: white;
    border: 1px solid #ddd;
    padding: 0px 5px;
}

.lista__expedientes tbody > tr:nth-child(even) {
    background-color: #f2f2f2;
}

.lista__expedientes tbody > tr:hover {
    background-color: #ddd;
}

.lista__expedientes td a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.lista__expedientes td a:hover {
    text-decoration: underline;
}

.table__option {
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
}

#detalles {
    color: rgb(222, 162, 49);
}

#editar {
    color: rgb(20, 100, 179);
}

#eliminar {
    color: rgb(179, 68, 68);
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 600;
}

#eliminar:hover {
    text-decoration: underline;
}