@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-image: url('../imgs/petsbg.png');
    background-repeat: repeat;
    overflow-x: hidden;
}

.formulario__producto {
    width: 60%;
    margin: 20px auto 0px auto;
    background-color: rgb(252, 252, 252);
}

.formulario__producto fieldset {
    padding: 20px 10px;
    border-radius: 10px;
}

.formulario__producto fieldset legend {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(70, 70, 70);
}

.formulario__producto fieldset label {
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.formulario__producto fieldset input,
.formulario__producto fieldset textarea,
.formulario__producto fieldset select 
{
    padding: 10px;
    display: block;
    width: 100%;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 20px;
    resize: none;
}

.formulario__producto fieldset input:last-child {
    margin-bottom: 0px;
}

.formulario__producto fieldset input:focus,
.formulario__producto fieldset textarea:focus,
.formulario__producto fieldset select:focus 
{
    outline: 1px solid rgb(91, 91, 91);
}

#btn-crear-producto {
    background-color: rgb(58, 176, 54);
    color: white;
    width: auto;
    border: 1px solid rgb(49, 146, 46);
    transition: all 0.15s ease;
}

#btn-crear-producto:hover {
    background-color: rgb(60, 187, 55);
    color: white;
    width: auto;
    border: 1px solid rgb(49, 146, 46);
    transition: all 0.25s ease;
}

@media (max-width: 800px) {   
    .formulario__producto {
        width: 80%;
        margin: 20px auto 0px auto;
        background-color: rgb(252, 252, 252);
    }
}

@media (max-width: 550px) {   
    .formulario__producto {
        width: 100%;
        margin: 20px auto 0px auto;
        background-color: rgb(252, 252, 252);
    }
}

.error {
    background-color: hsl(0, 100%, 70%);
    color: white;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
    border: none;
}