.main__container {
    background-color: rgb(242, 242, 242);
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    align-items: center;
    justify-content: center;   
    gap: 10px;
    margin-top: 70px;
}

.card a {
    text-decoration: none;
    color: hsl(192, 100%, 25%);
}

.card a:hover {
    color: #008fb3;
}

.card__option {
    outline: 1px solid hsl(192, 100%, 25%);
    text-align: center;
    padding: 20px 0px;
    border-radius: 5px;
}

.card__option:hover {
    outline: 2px solid hsl(192, 100%, 35%);
    box-shadow: 0px 0px 7px -1px rgba(0,143,179,1);
}